In [ ]:
!pip install sqlite3

In [3]:
import sqlite3

ModuleNotFoundError: No module named 'sqllite3'

In [ ]:
#coonecting with the database.
db = sqlite3.connect("my_database1.db")

In [6]:
#drop table if it already exist using execute()method
db.execute("drop table if exists grades1")

In [7]:
#create table as per  requirement
db.execute("create table grades1(id int,name text,score int)")

In [8]:
#inserting valuesinside the craeted tables
db.execute("insert into grades1(id, name, score)values(101,'john',99)")

In [12]:
db.execute("insert into grades1(id,name,score)values(102,'gary',90)")

In [13]:
db.execute("insert into grades1(id, name,score)values(103,'james',80)")

In [14]:
db.execute("insert into grades1(id, name, score)values(104,'cathy',85)")

In [15]:
db.execute("insert into grades1(id, name, score)values(105,'kris',95)")

In [17]:
db.execute("insert into grades1(id, name, score)values(105,'kris1',951)")

In [18]:
db.commit()

In [19]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print(row)

(101, 'john', 99)
(102, 'gary', 90)
(102, 'gary', 90)
(103, 'james', 80)
(104, 'cathy', 85)
(105, 'kris', 95)
(105, 'kris1', 951)

In [20]:
results = db.execute("select * from grades1 where name='gary'")
for row in results:
    print(row)

(102, 'gary', 90)
(102, 'gary', 90)

In [21]:
results = db.execute("select name,score from grades1 order by score desc")
for row in results:
    print(row)

('kris1', 951)
('john', 99)
('kris', 95)
('gary', 90)
('gary', 90)
('cathy', 85)
('james', 80)

In [22]:
db.close()

In [ ]:
define and connect with database
create table
insert data into tables using###insert statement
factching data using### select statement 
close database